*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-left: 7%;
    gap: 1000px;
    width: 100%;
}
nav img{
  width: 200px; 
  height: 40px;
  object-fit: cover; 

}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.item i {
    font-size: 30px;
    color: gray;
}

.bars{
    display: flex;
}
.content{
    border: 1px solid ridge;
    background-image: url(../image/pha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-green{

}


